<header id="header" class="header fixed-top mt-3" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="#" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            <img src="assets/img/logo2023.svg" class="logo" alt="logo DMJ">
            <!-- <h1>DMJ Solutions<span>.</span></h1> -->
        </a>

        <app-nav></app-nav>

        <a href="#about" class="get-started-btn scrollto">Conocenos más</a>
    </div>
</header>