<!-- <p>hero works!</p> -->

<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="assets/img/img001.jpg" class="img-fluid animated">
      <h2>Bienvenidos <span>DMJ SOLUTIONS</span></h2>
      <p>Tecnología a tu Servicio.</p>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Empezar</a>
        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Presentación</span></a>
      </div>
    </div> 
  </section>
