<!-- <p>footer works!</p> --> 

<div class="footer-top" *ngFor="let f of footer">
    <div class="container">
      <div class="row" >

        <div class="col-lg-3 col-md-6" >
          
          <div class="footer-info">
            <h3>{{ f.empresa }}<span>.</span></h3>
            <p>
              {{ f.direccion }}<br> {{ f.lugar}}<br><br>
              <strong>N° Celular:</strong> +593 {{ f.celular }}<br>
              <strong>Correo:</strong> {{ f.correo }}<br>
            </p>

            <div class="social-links mt-3" >
                <a *ngFor="let social of f.redes_sociales_empresa" [href]="social.href" target="_blank" [class]="social.class">
                  <i [class]="social.icon"></i>
                </a>
            </div>
          </div>

        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Enlaces Útiles</h4>
          <ul *ngFor="let util of f.utiles">
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{ util.name}}</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestros Servicios</h4>
          <ul *ngFor="let servi of f.nuestro_servicio">
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{ servi.servicio}}</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Novedades </h4>
          <p>Recibe las principales noticias de nuestra empresa y actualiza tus conocimientos. Suscríbete y Listo!!</p>
          
          <!-- <form class="php-email-form">
            <input type="email" name="email">
            <input (click)="requestPermission()" type="submit" value="Suscribirme">
          </form> -->

          <a *ngIf="!subscrito" (click)="requestPermission()" class="get-started-btn scrollto"> {{ name }}</a>
          <a *ngIf="subscrito" (click)="deleteToken()" class="get-started-btn scrollto"> {{ name }}</a>
 
        </div>

      </div>
    </div>
  </div>

<div class="container">
    <div class="copyright">
       <strong><span>{{ _footer.empresa }}</span></strong>. Todos los derechos reservados {{ _footer.anio }}
    </div>
</div>

